*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding: 0 100px 0 100px;
}

.nav {
    width: 100%;
    min-height: 10vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.nav-logo {
    width: 15%;
}

.logo {
    width: 100%;
    height: 100%;
}

.nav-links {
    width: 50%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}



.nav-links .nav-item a{
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    color: #b0b9c2;
}




.nav-links .nav-item a::before{
    content: '';
    width: 0;
    height: 5px;
    position: absolute;
    top: 40px;
    background-color: #b0b9c2;
    border-radius: 10px;
    z-index: 1;
    margin-left: 3%;
    transition: all 500ms ease-in-out;
}


.nav-items a::before {
    margin-left: 0 !important;
}

.nav-links .nav-item a:hover::before {
    width: 7%;
}

.banner {
    width: 100%;
    min-height: 90vh;


    background-image: url(images/hero_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_captions {
    width: 42%;
    min-height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;


    margin-top: 15%;
    margin-left: 55%;
}


.banner_captions_h1 {
    width: 100%;
    font-size: 45px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;

    color: rgb(98, 1, 1);
}

.banner_captions_p {
    width: 100%;
    font-size: 13.9px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: left;

    color: white;
}

.banner_captions_button {
    width: 38%;
    height: 40px;

    background-color: #c6c6c6;
    border-radius: 10px;
    border: none;
}

.banner_captions_button a{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(98, 1, 1);
    letter-spacing: 1px;
}


.vision {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px 100px 0 100px;
}

.vision_text {
    width: 100%;
    min-height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.vision_text h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.vision_text .line1 {
    width: 5%;
    height: 4px;

    background-image: url(images/Line\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
}



.vision .vision_main {
    width: 100%;
    min-height: 70vh;


    background-image: url(images/img5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #373535;
    background-blend-mode: overlay;

    position: relative;
}


.vision .vision_main .vision_main_inner {
    width: 40%;
    min-height: 40vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    margin-top: 5%;
    margin-left: 7%;
}


.vision .vision_main .vision_main_inner .vision_main_line {
    width: 5px;
    height: 150px;
    border-radius: 10px;
    z-index: 1;


    background-image: url(images/Line\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.vision .vision_main .vision_main_inner .vision_main_p {
    width: 80%;
    height:200px;
    font-size: 24px;
    font-family: "Montserrat";
    color: white;
}

.vision .vision_main_two {
    width: 45%;
    min-height: 60vh;
    border-radius: 20px;

    background-image: url(images/img4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 45%;
    left: 50%;
}

.slider {
    width: 100%;
    min-height: 90vh;

    margin-top: 15%;

    padding: 100px 100px 100px 100px;

}

.slider .content {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.slider .content .images {
    width: 100%;
    position: relative;
}

.slider .content .images img{
    width: 100%;
    height: 425px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic {
    position: absolute;
    left: -2000px;
    transition: all 800ms ease-in-out;
}

.current {
    position: relative;
    left: 0;
}

.slide {
    width: 40px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #D9D9D9;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
}

.left {
    margin-left: 10px;
}


.right {
    margin-right: 10px;
    right: 0px;
}

.indicate {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.base {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 5px;
    transition: all 800ms ease-in-out;
}

.blu {
    background-color: white;
}

.testimonials {
    width: 100%;
    min-height: 100vh;

    padding: 0 100px 0 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.testimonials .testimonials_head {
    width: 100%;
    min-height: 7vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.testimonials .testimonials_head h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

.testimonials .testimonials_head .line1{
    width: 5%;
    height: 4px;

    background-image: url(images/Line\ 9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;
} 


.testimonials .testimonials_main {
    width: 100%;
    min-height: 70vh;

    background-image: url(images/img0.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #373535;
    background-blend-mode: overlay;

    margin-top: 30%;
}

.testimonials .testimonials_main_image2 {
    width: 35%;
    min-height: 59vh;


    background-image: url(images/img7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;

    position: absolute;
    left: 15%;
    top: 23%;
}

.testimonials .testimonials_main_inner {
    width: 35%;
    min-height: 45vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 57%;
    margin-top: 7%;
}

.testimonials .testimonials_main_inner .testimonials_main_line {
    width: 2px;
    height: 150px;
    border-radius: 10px;
    z-index: 1;


    background-image: url(images/Line\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials .testimonials_main_inner .testimonials_inner{
        width: 90%;
        min-height: 35vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.test1 {
    width: 20px;
    height: 20px;
}

.testimonials_main_p {
    width: 80%;

    margin-left: 7%;
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #ffffff;
}

.testimonials_inner_2 {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 7%;
}

.test2 {
    width: 35px;
    height: 35px;

    border-radius: 50%;
}

.test_h3 {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #ffffff;
}

.testimonials_inner_inn {
    width: 30%;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-left: 55%;
}

.testimonials_inner_inn .slide-control {
    width: 30%;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    width: 100%;
    min-height: 100vh;

    padding: 100px 100px 100px 100px;
}

.services .services_main {
    width: 100%;
    min-height: 65vh;

    background-image: url(images/img10.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #373535;
    background-blend-mode: overlay;

    padding: 80px 100px 80px 100px;
}

.services .services_main .services_text1{
    font-size: 34px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-transform: capitalize;
}

.services .services_main .services_info {
    width: 100%;
    min-height: 20vh;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.services .services_main .services_info .info {
    width: 30%;
    min-height: 7vh;


    position: relative;
}

.services .services_main .services_info .info_img {
    width: 200px;
    height: 100px;

}

.services .services_main .services_info .info_text {
    width: 70%;

    font-size: 22px;
    font-family: "Montserrat";
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;

    position: absolute;
    top: 27%;
    left: -4%;
}


.services .services_main .services_info .info_img2 {
    width: 150px;
    height: 50px;

    margin-bottom: 10%;
}

.services .services_main .services_info .info2_img2 {
    height: 30px;
    margin-bottom: 8%;
}

.services .services_main .services_info .info_img3 {
    width: 25%;
    height: 70px;
}

.info2_img3 {
    width: 30% !important;
}
.blog {
    width: 100%;
    min-height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 100px 140px 100px 140px;
}

.blog .blog_title{
    width: 100%;

    font-size: 34px;
    font-family: "Montserrat";
    font-weight: 700;
    letter-spacing: 1px;
}

.blog .blog_main {
    width: 100%;
    min-height: 60vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 2%;

}

.blog .blog_inner1 {
    width: 50%;
    min-height: 52vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.blog .blog_inner1 .blog_inner1_p {
    width: 80%;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
}

.blog .blog_inner1 .blog_inner1_button {
    width: 20%;
    height: 40px;

    background-color: #792434;
    border-radius: 10px;

} 

.blog .blog_inner1 .blog_inner1_button .button_text{
    font-size: 19px;
    font-family: "Montserrat";
    color: #ffffff;


}



.blog .blog_inner2 {
    width: 50%;
    min-height: 60vh;

    border-radius: 25px;

    background-image: url(images/img11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    width: 100%;
    min-height: 50vh;


    padding: 60px 100px 60px 100px;
    background-color: #373535;
}

.footer .footer_inner {
    width: 100%;
    min-height: 30vh;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}


.footer .footer_inner .footer_inner1 {
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
} 

.footer .footer_inner .footer_inner1 .footer_logo{
    width: 52%;
}


.footer .footer_inner .footer_inner1 .footer_inner1_p {
    width: 100%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.footer .footer_inner .footer_inner1 .footer_inner1_inner {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .footer_inner .footer_inner1 .location_img {
    width: 7%;
}

.footer .footer_inner .footer_inner1 .location_text {
    font-size: 14px;
    font: "Arial";
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
}


.footer .footer_inner2 {
    width: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer_inner2 .footer_inner2_title {
    font-size: 22px;
    font-family: "Arial";
    font-weight: 700;
    color: #ffffff;
}


.footer .footer_inner2 .footer_inner2_list li span {
    
    font-size: 16px;
    font-family: "Arial";
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    text-transform: capitalize;

    margin-left: 10px;
}


.footer .footer_inner2 .footer_inner2_list li img {
    width: 10px;
    height: 10px;

}

 .footer .footer_inner3 {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;

}

.footer .footer_inner3 .footer_inner3_title {
    font-size: 22px;
    font-family: "Arial";
    font-weight: 700;
    color: #ffffff;
}
.footer .footer_inner3 .footer_inner3_inner {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}


.inn1 {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inn1 .inn1_img {
    width: 12%;
}

.inn1 .p1 {
    font-size: 16px;
    font-family: "Arial";
    font-weight: 700;
    color: #ffffff;
}

.inn2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.inn2 .inn2_img1 {
    width: 4%;

    position: absolute;
    top: 10px;

}

.inn2 .p2 {
    font-size: 14px;
    font-family: "Arial";
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
}

.footer .footer_inner3_favcon {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer_inner4 {
    width: 100%;
    position: relative;
    top: 35px;
    text-align: center;
}

.footer .footer_inner4 .p3 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Arial";
    color: #888888;
    text-transform: capitalize;
}

.footer .footer_inner4 span {
    color: #ffffff;
}